<div class="col-lg-12 col-md-12 mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="card shadow rounded-0">
        <div class="card-body text-center">
          <p class="lead fw-bold"><%= @current_employee.full_name %></p>
          <p class="lead"><%= @current_employee.work_email %></p>
          <%= link_to "View Profile", employee_profile_path, class: "btn btn-primary" %>
          <%= link_to "Edit Profile", employee_edit_profile_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
    </div>
  </div>  
</div>
