<div class="col-lg-12">
  <div class="card rounded-0 mt-5">
    <div class="card-body">
      <%= render @user %>
      <div>
        <%= link_to "Back", admin_users_path, class: "btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
